body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: url("Image/background.jpg");
    background-size:cover;
}
.plus-icon{
    display: inline-block;
    cursor: pointer;
    color: #f5861f;;
    margin: 3 20px;
    border: 1px solid #f5861f;;
    padding: 4px;
    border-radius: 15px;
}

.plus-icon:hover{
     border: 3px solid #f5861f;;
     font-size:12px;
}

.popup-link{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 4px;
    display: inline-block;
    color: #f5861f
}

.popup-link:hover{
    color:#20ac76;
}

.cart-container{
    box-shadow: 0px 0px 5px inset;
    background-color: #f9f9d9;
    margin-bottom: 20px;
        border-radius: 3px;
        opacity:0.9;
}

.header{
    
    background-size:cover;
    height: 225px;
        margin-right: -15px;
    margin-left: -15px;
    
    
}   

.links-container{
    text-align: right;
}

.container{
    border: 1px solid black;
    background:url("Image/background.jpg");
    background-size:cover;
    box-shadow: 5px 5px 25px;
    margin-bottom: 20px;
    width:98%;
}

.less-padding{
    
}

.modal input{
    display: block;
   
    font-size: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: inset 3px 3px 3px grey;
    /* font-weight: bold; */
    width: 79%;
    margin: 31px auto;
}

.modal input::-webkit-input-placeholder{
    color: #f5861f;
    opacity: 0.4;
}

.modal input[type="submit"]{
    background: #f5861f;
    color:#ffffff;
    box-shadow: 3px 3px 3px grey;
    
}

#loginModal .modal-dialog, #signUpModal .modal-dialog{
    width:40%
}

.login-page-links-container{
    width: 100%;
    text-align: right;
}

.signup-link, .forgot-password-link{
    display: block;
    color: #f5861f;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.signup-link{
    margin-top: 10px;
}

.signup-link:hover, .forgot-password-link:hover{
    font-size:15px;
    
}

.login-modal-header{
    text-align: center;
    color: #20ac76;
    font-weight: bold;
    font-size: 21px;
    margin-top: 25px;
}

.content-header{
    color: #20ac76;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding: 18px 0px;
        margin-top: 0px !important;
}

.content-header .menu{
    margin-left: 73px;
}

.no-margin{
    margin-left:0px !important;
    margin-right: 0px !important;
}

.content-header .price{
    float: right;
    margin-right: 35px;
}

.page-sharing-links{
    color: #f5861f;
    font-size: 27px;
}

.proceed-to-pay-button{
    padding:10px;
    background: #f5861f;
    color:#ffffff;
    box-shadow: 3px 3px 3px grey;
     border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
        margin: 20px 0px;
}

.cart-sub-header{
    color: #20ac76;
    font-weight: bold;
}


.cart-sub-header .qty{
    margin-left: 229px;
}
.cart-sub-header .price{
        margin-left: 45px;

}

.cart-qty{
    position: absolute;
    right: 106px;
}
.cart-price{
     position: absolute;
    right: 27px;

}

.billed-items{
    
    
    border-bottom: 1px solid black;
}

.your-cart-section div{
    margin:10 20px;
}

.total-amount{
    border-top: 1px solid black;
    padding-top: 10px;
}

.total-amount span:nth-child(1){
    color:#20ac76;
    font-weight: bold;
}

.total-amount span:nth-child(2){
    font-weight: bold;
}

ul{
        padding-top: 75px;
    padding-left: 12px;
}

ul li{
    list-style-type: none;
    color: #f5861f;
    cursor: pointer;
    font-size: 14px;
    font-weight:bold;
    padding: 3px 0;
}

ul li:hover{
    font-size: 15px;
}

.item-price{
       float: right;
    padding-top: 10px;
    padding-right: 60px;
}
.search-box-container{
        height: 200px;
    position: relative;
}

.search-box{
       width: 90%;
    border: 1px solid #f6f6f6;
    box-shadow: inset 0px 0px 5px;
    padding: 12px;
    /* margin: auto; */
    display: block;
    position: absolute;
    bottom: 18px;
    left: 60px;
    opacity:0.9;
}



#otpSection{
    display: none;
}

.user-section{
    display: none;
}

.user-symbol{
    margin-right: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid;
    padding: 5px;
    border-radius: 15px;
    background: #f5861f;
    box-shadow: 2px 2px 2px grey;
}

.logo{
    width: 150px;
    box-shadow: 4px 4px 6px darkgrey;
    margin-left: 15px;
}

.links-container>div{
    padding-right: 15px;
}